.header {
  position: relative;
  background-size: 100%;
  background-position: center;
  margin: -.5em 0 1em -.5em;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40vh;
}

.header h1 {
  font-family: $serif-type;
  font-size: 3em;
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
a {
  text-decoration: none;
}

// #review_list_header {
//   font-family: $monospace-type;
//   text-transform: uppercase;
// }

div.socials {
  text-align: center;
  margin-bottom: 2em;
}

a i {
  color: black;
  padding: 0 1em;
}
