 #search_form {
  @include outer-container;
}

#search_field {
  @include span-columns(3);
  @include shift(3);
}

#location_field {
  @include span-columns(2);
}

#results_container {
  @include outer-container;
}

#results_inner_container {
  @include span-columns(9);
  @include shift(3)
}

.result_card {
  @include span-columns(3);
  @include omega(3n);
}

.result_card p {
  font-family: $monospace-type;
  font-size: .7em;
  color: #888;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.result_card h4 a {
  font-family: $serif-type;
  font-size: 1.5em;
  margin: .5em 0;
  color: #222;
  text-decoration: none;
}

.result_card h4 a:hover {
  color: rgba(254,86,25,1);
  transition: color .3s;
}

#did_you_mean {
  font-family: $serif-type;
  @include fill-parent();
  text-align: center;
}
